{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "babel-plugin-transform-node-env-inline",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "Components": "./src/components",
          "Public": "./src/public",
          "Pages": "./src/pages",
          "Routes": "./src/routes",
          "Hooks": "./src/hooks",
          "Utils": "./src/utils",
          "Api": "./src/api",
          "Datas": "./src/datas",
          "Redux": "./src/redux",
          "Actions": "./src/redux/actions",
          "Modules": "./src/modules"
        }
      },
      "@babel/syntax-dynamic-import"
    ]
  ]
}
